OPENAI_API_KEY=your_openai_api_key
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FRONTEND_ORIGIN=http://localhost:5500


## FIREBASE SDK FRONTEND CODE
// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyAYle4UL0ji9PcVHYPPl58tPIgGzH4TVuE",
  authDomain: "ai-native-m-2.firebaseapp.com",
  projectId: "ai-native-m-2",
  storageBucket: "ai-native-m-2.firebasestorage.app",
  messagingSenderId: "863816731467",
  appId: "1:863816731467:web:1aca8ef4e23d6b21ec36ce",
  measurementId: "G-LRWE3Y5MWJ"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);